<print-modal>
  <div class="print-modal-content">
    <div ng-if="!processedPrintTemplate">
      <p>Звернення: {{getProcessName(selectedTask.processDefinitionId)}}</p>

      <p>джерело: igov.org.ua</p>

      <p>№: {{selectedTask.id}}</p>

      <p>від: {{ sDateShort(selectedTask.createTime) }}</p>

      <p ng-repeat='item in taskForm'>
        <form-field></form-field>
      </p>

      <hr/>
      <p>Довідку№ _________________________ Отримав (ПІБ)_________________________</p>

      <p>Дата _________________________ Підпис _________________________</p>
    </div>
    <div ng-if="processedPrintTemplate" ng-bind-html="processedPrintTemplate"></div>
  </div>
</print-modal>
